<!DOCTYPE html>
<html lang="ptbr">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1 style="text-align: center;">Você esta na pagina : <%- title %></h1>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/socialMedia.ejs') %>
    
    <%- include('partials/foot.ejs') %>

</body>
</html>