<!DOCTYPE html>
<html lang="ptbr">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1><%- title %></h1>
    <%- include('partials/navbar.ejs') %>
<% if(typeof message !== 'undefined') { %>
    <%= message %>
<%  } %>
<form action="/registrar/add" method="POST">
    <div>
        <label>Nome</label>
        <input type="text" name="name" placeholder="Nome">
    </div>
    <div>
        <label>Idade</label>
        <input type="text" name="age" placeholder="Idade">
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="email">
    </div>
    <div>
        <label>senha</label>
        <input type="text" name="password" placeholder="senha">
    </div>
    <button type="submit">Cadastro</button>
</form>
    
    <%- include('partials/foot.ejs') %>

</body>
</html>